.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
  padding: 1rem;
}

.modal-content {
  background-color: #fefefe;
  padding: 2rem;
  border: 0.0625rem solid #888;
  width: 100%;
  max-width: 600px;
  border-radius: 0.625rem;
  position: relative;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.modal-content img {
  width: 100%;
  height: auto;
  border-radius: 0.625rem;
  margin-bottom: 1rem;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.modal-content h2 {
  text-align: center;
  margin-bottom: 1rem;
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
}

.close {
  color: #aaa;
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.trailer {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
  border-radius: 0.625rem;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.trailer-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

@media (min-width: 768px) {
  .modal-content {
    padding: 3rem;
  }
}
