.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px auto 0;
  max-width: 600px;
}

.search-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  flex: 1;
}

.search-button,
.goback-button {
  background-color: #f00;
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.search-button:hover,
.goback-button:hover {
  background-color: #c00;
  transform: scale(1.1);
}
@media screen and (max-width: 768px) {
  .search-form{
    width: 80%;
  }
}
