* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #000;
}
.favorite-message {
  width: 25%;
  background-color: #f00;
  color: #fff;
  border: none;
  padding: 0.85rem 0.85rem;
  border-radius: 0.3125rem;
  font-weight: bold;
  margin: 2rem auto; /* Change this line */
  text-align: center; /* Add this line */
}
